body{

  background-image: url("../img/njHhZgk.jpg");
  background-repeat: no-repeat;	
  background-size: 100%;
  text-align: center;
  background-color: #2b2c30 ;
}	

.inp{
	padding-left: 5px;
  	width: 200px;
  	height: 25px;
  	border-width: 1px;
  	background-color: #cad1af;
	border: none;
}
.form{ 
	position: all;
	margin-top: 50px; 
}

label{
	text-align: left;
	font-size: 15px;
	color: grey;
}


